name: Build & Push container image to GCP Artifact Registry

on:
  push:
    tags:
      - '*'

jobs:
  public_build_push:
    runs-on: ubuntu-24.04
    env:
      REGISTRY_URL: "asia-northeast3-docker.pkg.dev"
      REGISTRY_PATH: "next-gen-infra/furiosa-ai"
      IMAGE_NAME: "furiosa-feature-discovery"
    steps:
      - name: Create token via GitHub App
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: 2157275
          private-key: ${{ secrets.CLOUD_NATIVE_WG_CI_GH_APP_PRIVKEY }}
          repositories: |
            furiosa-smi
            furiosa-smi-rs
          
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}

      - uses: docker/setup-buildx-action@v3

      - name: GCP Artifact Registry login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_URL }}
          username: "_json_key"
          password: ${{ secrets.GAR_JSON_KEY }}

      - name: Build and publish a image with release tag
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: '${{ env.REGISTRY_URL }}/${{ env.REGISTRY_PATH }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}'
          build-args: |
            GITHUB_TOKEN=${{ steps.app-token.outputs.token }}
