name: Build & Push container image to public registry

on:
  push:
    tags:
      - '*'

jobs:
  public_build_push:
    runs-on: ubuntu-latest
    env:
      PUBLIC_REGISTRY_URL: "registry.corp.furiosa.ai"
      PUBLIC_IMAGE_NAME: "furiosa/furiosa-feature-discovery"
    steps:
      - name: Create token via GitHub App
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: 2157275
          private-key: ${{ secrets.CLOUD_NATIVE_WG_CI_GH_APP_PRIVKEY }}
          repositories: |
            furiosa-smi
            furiosa-smi-rs
          
      - uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: docker/setup-buildx-action@v3
      - name: public registry login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.PUBLIC_REGISTRY_URL }}
          username: ${{ secrets.PUBLIC_REGISTRY_USERNAME }}
          password: ${{ secrets.PUBLIC_REGISTRY_PASSWORD }}
      - name: Build and publish a image with latest tag
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: '${{ env.PUBLIC_REGISTRY_URL }}/${{ env.PUBLIC_IMAGE_NAME }}:latest'
          build-args: |
            GITHUB_TOKEN=${{ steps.app-token.outputs.token }}
      - name: Build and publish a image with release tag
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: '${{ env.PUBLIC_REGISTRY_URL }}/${{ env.PUBLIC_IMAGE_NAME }}:${{github.ref_name}}'
          build-args: |
            GITHUB_TOKEN=${{ steps.app-token.outputs.token }}
